{% extends 'base.html.twig' %}

{% block title %}Liste des ordinateurs{% endblock %}

{% block body %}
    <h1>Liste des ordinateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Année</th>
                <th>SIN</th>
                <th>Img</th>
                <th>Auteur</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for computer in computers %}
            <tr>
                <td>{{ computer.model }}</td>
                <td>{{ computer.description }}</td>
                <td>{{ computer.price }}</td>
                <td>{{ computer.year }}</td>
                <td>{{ computer.sin }}</td>
                <td>{{ computer.img }}</td>
                <td>{{ computer.author.username }}</td>
                <td>{{ computer.isVisible ? "YES":"NO" }}</td>
                <td>
                    <a class="btn btn-outline-dark text-center mx-4" href="{{ path('app_computer_show', {'id': computer.id}) }}">show</a>
                    <a class="btn btn-outline-success text-center mx-4" href="{{ path('app_computer_edit', {'id': computer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success text-center mx-4" href="{{ path('app_computer_new') }}">Create new</a>
{% endblock %}
